.cards {
    max-width: 1144px;
    margin: 0 auto 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
    gap: 62px 80px;
    
}

@media (max-width: 1200px) {
    .cards {
        max-width: 800px;
        gap: 52px 70px;
    }
}

@media (max-width: 800px) {
    .cards {
        max-width: 612px;
        max-height: 278px;
        grid-template-columns: repeat(3, 175px);
        grid-template-rows: 278px;
        gap: 41px;
        overflow: hidden;
    }
}

@media (max-width: 650px) {
    .cards {
        max-width: 391px;
        max-height: 278px;
        grid-template-columns: repeat(2, 175px);
        gap: 41px;
        overflow: hidden;
    }
}

@media (max-width: 470px) {
    .cards {
        
        display: flex;
        gap: 0;
        max-width: 346px;
        max-height: 352px;
        margin: 0 0 0 12px;
    }
}