.cards {
    max-width: 1143px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(526px, 1fr)); */
    gap: 62px 80px;
}
