.card__subtitle {
    font-family: 'PT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #F5F5F5;
    max-width: 295px;
    margin: 0 16px 12px 16px;
}

@media (max-width: 800px) {
    .card__subtitle {
        font-size: 13px;
        line-height: 18px;
    }
}

@media (max-width: 470px) {
    .card__subtitle {
        margin: 0 8px 4px 8px;
    }
}