.allNews__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    grid-column-gap: 80px;
    grid-row-gap: 62px;
    line-height: 0;
}