.banner__image {
  object-fit: cover;
  width: 329px;
  height: 440px;
  margin-right: 137px;
  grid-column: 1;
  grid-row: 1 / 3;
}

@media screen and (max-width: 1439px) {
  .banner__image {
    width: 174px;
    height: 259px;
    margin-right: 75px;
  }
}

@media screen and (max-width: 767px) {
  .banner__image {
    grid-column: 1;
    grid-row: 2;
    width: 164px;
    height: 258px;
    margin: 0 auto;
  }
}
