.poster__image {
    width: 16.61px;
    height: 12.02px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {

    .poster__image {
        width: 18px;
        height: 10px;
    }

}

@media screen and (max-width: 360px) {

    .poster__image {
        width: 21.61px;
        height: 12.02px;
        margin: auto 0 auto 18px;

    }

}