.banner__arrow {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

@media screen and (max-width: 1439px) {
  .banner__arrow {
    margin-left: 12px;
  }
}

@media screen and (max-width: 767px) {
  .banner__arrow {
    width: 16px;
    height: 16px;
  }
}
