.magazine {
    display: flex;
    margin: 0 0 56px 0;
    height: 680px;
}

@media screen and (max-width: 1440px) {

    .magazine {

    }

}

@media screen and (max-width: 768px) {

    .magazine {

    }

}

@media screen and (max-width: 360px) {

    .magazine {

    }

}
