.element__block-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 498.17px;
    margin-bottom: 36px;
}

@media screen and (max-width: 768px) {
    .element__block-text {
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 370px) {
    .element__block-text {
        margin-bottom: 12px
    }
}