.poster__title {
    margin: 16px 0 0 32px;
    padding: 0;
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    color: #F5F5F5;
    max-width: 260px;
}

@media screen and (max-width: 800px) {
    .poster__title {
        margin: 16px 0 0 16px;
        font-size: 30px;
        line-height: 37px;
        max-width: 132px;
    }
}

@media screen and (max-width: 425px) {
    .poster__title {
        font-size: 32px;
        line-height: 120%;
        color: #323232;
        max-width: unset;
        margin: 0 0 0 12px;
    }
}