.element__title {
    margin: 0;
    font-family: 'WF', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    .element__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 336px) {
    .element__title {
        font-size: 26px;
    }
}