.banner__quote {
  margin: 0 calc(132px -  116px) 182px 0;
  font-family: 'PT', 'Arial', sans-serif;
  color: rgba(50, 50, 50, 0.7);
}

@media screen and (max-width: 1439px) {
  .banner__quote {
    margin-bottom: 61px;
    max-width: 420px;
    color: #323232;
  }
}

@media screen and (max-width: 767px) {
  .banner__quote {
    max-width: 336px;
    margin: 16px auto;
  }
}
