.popup__button_close {
    position: absolute;
    top: 0;
    left: -20.36px;
    background-image: url(../../../images/close__icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: initial;
    background-size: contain;
    width: 16.71px;
    height: 16.71px;
    border: none;
    padding: 0;
}
.popup__button_close:hover {
    cursor: pointer;
}


@media (max-width: 400px) {
    .popup__button_close {
        width: 11.24px;
        height: 11.43px;
        left: -13.44px;
        z-index: 2;
    }
}
