.footer__info {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1399px) {
    .footer__info {
        margin-top: 36px;
    }
}

@media screen and (max-width: 767px) {
    .footer__info {
        margin-top: 29px;
    }
}