@media (max-width: 470px) {
    .card_mobile-first {
        height: 352px;
        width: 252px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        transition: z-index 0.3s ease;
    }
    .card_mobile-first:hover {
        z-index: 5;
        opacity: 1;
        transition: z-index 0.3s ease;
    }
}