.header {
    margin: 0 auto 70px;
    max-width: 95vw;
    background-color: #F7F4F0;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 90vw;
        padding-bottom: 10px;
    }
}