.information__subtitle {
    max-width: 1163px;
    margin: 0 0 0 32px;

    font-family: 'WF';
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    color: #323232;
}

@media (max-width: 800px) {
    .information__subtitle {
        font-size: 30px;
        line-height: 37px;
        margin: 0 0 0 16px;
    }
}

@media (max-width: 400px) {
    .information__subtitle {
        font-size: 26px;
        line-height: 100%;
        margin: 0 12px 0 12px;
    }
}