.content {
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .content {
        max-width: 320px;
    }
}