.footer__social-link-logo {
    margin-right: 8px;
    max-width: 18px;
    max-height: 18px;
    align-self: center;
}

@media screen and (max-width: 1399px) {
    .footer__social-link-logo {
        max-width: 28px;
        max-height: 28px;
        margin-right: 0;
    }
}