.banner__material-button {
  padding: 0;
  width: 329px;
  height: 60px;
  border-radius: 8px;
  background-color: inherit;
  border: 1px solid #a5cdab;
  color: #323232;
  font-family: "PT", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s;
}

.banner__material-button:hover {
  border-color: #97ba9c;
}

.banner__material-button:active {
  border-color: #7a9f80;
}

@media screen and (max-width: 1439px) {
  .banner__material-button {
    transition: none;
    width: 237px;
    height: 48px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .banner__material-button {
    width: 335px;
    height: 50px;
  }

  .banner__material-button:hover {
    border-color: inherit;
  }
}
