.footer__social-container {
    display: flex;
    max-width: 830px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .footer__social-container {
        align-items: center;
        flex-direction: column-reverse;
    }
}
