.project__block-paragraph {
    margin: 0;
    font-family: 'PT', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #323232;
    opacity: 0.6;
    margin-top: 18px;
}

@media screen and (max-width: 1100px) {
    .project__block-paragraph {
        margin-top: 8px;
    }
}

@media screen and (max-width: 768px) {
    .project__block-paragraph {
        font-size: 14px;
        line-height: 18px;
    }
}
