.project__button {
    width: 329px;
    height: 50px;
    margin-bottom: 72px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: #A5CDAB;
    border-radius: 8px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    /* Text/Black */
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__button:hover {
    background-color: #97BA9C;
}

@media screen and (max-width: 768px) {
    .project__button {
        width: 237px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 710px) {
    .project__button {
        width: 340px;
    }
}

@media screen and (max-width: 360px) {
    .project__button {
        margin-bottom: 28px;
    }
}