.all-news__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    grid-column-gap: 80px;
    grid-row-gap: 62px;
    line-height: 0;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .all-news__list {
        grid-column-gap: 40px;
        grid-row-gap: 32px;
        grid-template-columns: repeat(2, 180px);
    }
}

@media screen and (max-width: 425px) {
    .all-news__list {
        grid-column-gap: unset;
        grid-template-columns: repeat(1, 336px);
    }
}
