.card__description {
    font-family: 'PT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F5F5F5;
    max-width: 295px;
    margin: 0 16px 24px 16px;
}

@media (max-width: 800px) {
    .card__description {
        display: none;
    }
}

@media (max-width: 470px) {
    .card__description {
        display: block;
        font-size: 12px;
        line-height: 16px;
        margin: 0 8px 25px 8px;
    }
}