.banner_place_center {
  margin: 0 32px 76px 32px;
}

@media screen and (max-width: 1439px) {
  .banner_place_center {
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 767px) {
  .banner_place_center {
    margin: 0 0 32px 0;
  }
}
