.menu__link {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #323232;
    margin-right: 8px;
} 
@media screen and(max-width: 768px){
    .menu__link {
    font-size: 14px;
    line-height: 18px;
    }
}