.news__card_image {
    margin: 0;
    padding: 0;
    width: 212px;
    height: 233px;
    object-fit: cover;
    line-height: 0;
    display: block;
}

@media screen and (max-width: 768px) {
    .news__card_image {
        width: 102px;
        height: 120px;
    }
}

@media screen and (max-width: 425px) {
    .news__card_image {
        width: 100%;
        height: 160px;
    }
}