.element__link {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(50, 50, 50, 0.5);
    font-family: 'PT Sans', Arial, sans-serif;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .element__link {
        font-size: 14px;
    }
}

@media screen and (max-width: 336px) {
    .element__link {
        font-size: 12px;
    }
}