.project__title {
    margin: 0;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    font-family: 'WF', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    color: #323232;
    margin-bottom: 41px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .project__title {
        font-size: 30px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 710px) {
    .project__title {
        font-size: 30px;
        margin-bottom: 24px;
        justify-content: flex-start;
    }
}