.poster__button_text {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'PT';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .poster__button_text {
        font-size: 14px;
        line-height: 18px;
    }
}