.button-news {
    border: 1px solid #FFFFFF;
    min-height: 50px;
    transition: opacity .2s linear;
    border-radius: 8px;
    color: white;
    width: 329px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 32px 32px;
    align-self: start;
}

.button-news:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .button-news {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .button-news {
        display: block;
        border: none;
        border-radius: unset;
        min-height: 18px;
        font-size: 14px;
        line-height: 18px;
        margin: 16px 0 0 12px;
        width: auto;
        color: #323232;
    }
}
