.poster-type__title {
    padding: 0;
    margin: 0 auto 0 20px;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
}

@media screen and (max-width: 768px) {
    .poster-type__title {
        margin: 0 auto 0 12px;
        font-size: 30px;
        line-height: 37px;
    }
}
