.poster-type__title {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    margin-right: auto;
    margin-left: 20px;
}

@media screen and (max-width: 800px) {
    .poster-type__title {
        font-size: 30px;
        line-height: 37px;
    }

}