.poster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #323232;
    width: 477px;
}

@media screen and (max-width: 800px) {
    .poster {
        width: 253px;
    }
}