@media screen and (min-width: 1400px) {
    .footer__social-links_mobile {
        display: none;
    }
}

@media screen and (max-width: 1399px) {
    .footer__social-links_mobile {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    .footer__social-links_mobile {
        margin-bottom: 24px;
    }
}