.card__image {
    display: block;
    width: 204px;
    height: 204px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

@media (max-width: 800px) {
    .card__image {
        width: 86px;
        height: 86px;
        margin: 0 auto 4px auto;
    }
}

@media (max-width: 470px) {
    .card__image {
        width: 160px;
        height: 160px;
        margin: 0 auto 12px auto;
    }
}