.popup__subtitle_typical {
    margin: 0 auto 16px 12px;
    font-family: 'PT', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #323232;
    text-align: left;
}

@media (max-width: 800px) {
    .popup__subtitle_typical {
        font-size: 12px;
        line-height: 16px;
    }
}