.materials__dots {
  list-style-type: none;
  padding: 0;
  margin: 0 0 36px 0;
  display: none;
}

@media screen and (max-width: 767px) {
  .materials__dots {
    display: flex;
    justify-content: center;
  }
}

