.title_read-experience {
    font-family: 'WF';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    color: #323232;
    margin-top: 32px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .title_read-experience {
        font-size: 18px;
        line-height: 22px;
        margin-top: 12px;
        margin-bottom: 4px;
    }
}

@media (max-width: 470px) {
    .title_read-experience {
        margin: 16px 8px 12px 8px;
    }
}