.header__mobile-menu {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
    border-top: 1px solid rgba(50, 50, 50, 0.3);
}

.header__mobile-menu::before, .header__mobile-menu::after {
    content: '';
    width: 100%;
    order: 1;
}

@media screen and (min-width: 768px) {
    .header__mobile-menu {
        display: none;
    }
}