.footer {
    margin: 0 auto 22px;
    max-width: 1400px;
}

@media screen and (max-width: 1399px) {
    .footer {
        max-width: 736px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 336px;
    }
}
