.card__title {
    font-family: 'WF';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: #F5F5F5;
    max-width: 295px;
    margin: 0 16px 12px 16px;
}