.project__container {
    display: flex;
    column-gap: 20px;
    margin-bottom: 31px
}

@media screen and (max-width: 768px) {
    .project__container {
        column-gap: 13px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 710px) {
    .project__container {
        column-gap: 0;
        flex-direction: column;
        row-gap: 24px;
    }
}