.news__list {
    display: flex;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
    transition: all ease 1s;
    left: 0;
    width: 1920px;
}

.news__list > .card:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .news__list {
        margin: 0 0 0 12px;
    }
    .news__list > .card:not(:last-child) {
      margin-right: 12px;
    }
}

@media screen and (max-width: 425px) {
    .news__list {
        flex-direction: column;
        width: auto;
        margin: 16px 0 0 0;
        position: unset;
        transition: unset;
    }
}
