.news__list {
    display: flex;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
    transition: all ease 1s;
    left: 0;
    width: 1920px;
}

@media screen and (max-width: 768px) {
    .news__list {
        margin: 0 0 0 12px;
    }
}