.news__card {
    width: 330px;
    border-bottom: 4px solid #E7E4DE;
    height: 443px;
    margin: 0;
    padding: 0 20px 0 0;
    overflow: hidden;
}


@media screen and (max-width: 768px) {
    .news__card {
        width: 180px;
        height: 286px;
    }
}