.news__card {
    width: 328px;
    border-bottom: 4px solid #E7E4DE;
    height: 443px;
    margin: 0;
    padding: 0 19px 0 0;
    overflow: hidden;
    flex-shrink: 0;
}


.news__card:last-of-type {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .news__card {
        width: 180px;
        height: 286px;
    }
}

@media screen and (max-width: 425px) {
    .news__card {
        max-width: 336px;
        width: calc(100vw - 24px);
        height: auto;
        border: none;
        overflow: unset;
        padding: 0;
        margin: 0 auto 16px auto;
    }
}