.popup__title {
    margin: 12px 20px 0 20px;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: #323232;
}

@media (max-width: 800px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
    }
}
