.news {
    display: flex;
    margin: 0 0 56px 0;
    height: 560px;
}

@media screen and (max-width: 1440px) {

    .news {

    }

}

@media screen and (max-width: 768px) {

    .news {

    }

}

@media screen and (max-width: 360px) {

    .news {

    }

}