.footer__menu-links {
    list-style: none;
    margin: 0;
    display: flex;
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .footer__menu-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 325px;
    }

    .footer__menu-links::before, .footer__menu-links::after {
        content: '';
        width: 100%;
        order: 1;
      }
}